<!DOCTYPE html>
{% extends 'base.html' %}
{% load static %}
{% block content %}
<main>
    <div style="margin: 5%; ">
            <h1>Sobre a empresa</h1>
            <br/>
            <p style= "font-size: 25px;">XL Construções é uma empresa atuante em todo o Estado do Ceará no segmento da Engenharia e Construção Civil, tanto para os setores e empresas privadas quanto para departamentos públicos. Ofertamos serviços em projetos, construções, reformas, regularização de obras, topografia, loteamentos, desmembramento e unificações de áreas. </p><br/>
            <p style= "font-size: 25px;">Somos uma empresa com comprometimento, responsabilidade e qualidade em todos nossos serviços, além de prazo e qualidade nosso maior objetivo é a satisfação de nossos clientes, gerando assim, parceria com credibilidade e preços justos.</p><br/>
            
    </div>
</main>
{% endblock %}